<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Témoignage</title>
</head>

<body>
    <div class="container-lg">
        <div class="card">
            <div class="card-header">
                <h3>En alternance assistante ressources humaines</h3>
            </div>
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col">
                        <img src="../assets/img/temoignage-lorine.png" class="img-fluid" alt="Lorine Temoignage">
                    </div>
                    <div class="col-9">

                        <blockquote class="blockquote mb-0">
                            <p>En entreprise, j’applique ce que j’apprends à l’Afpa… et plus encore : j’ai un rôle à
                                jouer !</p>
                            <footer class="blockquote-footer">Lorine<cite title="Source Title">, 25 ans</cite></footer>
                        </blockquote>
                        <p></p>
                        <h5 class="card-title">En bref</h5>
                        <p class="card-text">A 25 ans, Lorine a décidé de se former pour devenir Assistante Ressources
                            Humaines, en alternance à l’Afpa de Besançon. Ce qu’elle aime dans son parcours ? Être
                            polyvalente, et se sentir utile !</p>
                    </div>
                </div>
                <p></p>
                <p class="card-text">« Je voulais me former, mais je ne me voyais pas reprendre des études longues… Une formation de 6 mois à l’Afpa, c’était vraiment la solution pour moi ».</p>
                <p class="card-text">Après avoir occupé des postes dans des métiers différents, Lorine souhaitait continuer sa vie professionnelle dans le milieu administratif. Elle a aujourd’hui trouvé sa voie : « Assistante ressources humaines, c’est le métier qui me convient vraiment ».</p>
                <p class="card-text">Lorine connaissait déjà bien la fonction publique, et notamment le service qui l’accueille pour son alternance, pour y avoir déjà travaillé en tant qu’assistante de direction.
                    En intégrant l’Afpa, Lorine a su se créer une nouvelle opportunité… et la voilà revenue en tant qu’alternante !</p>
                <h5 class="card-title">L’entreprise : un lieu d’expérience !</h5>
                <p class="card-text">Lorine y exerce des missions diverses et variées : prise de contact, traitement des contrats et des arrêts maladie, gestion des remboursements des frais des agents… Au-delà des tâches régulières et des urgences du quotidien, Lorine est également mobilisée sur un projet à plus long terme, qu’elle a pris en main à son arrivée, et qu’elle suit jusqu’à la fin de son parcours. Ce projet nécessite un réel investissement, et Lorine est fière d’en faire partie : « Sur ce projet, je sais de quoi je parle ! Je peux parler des évolutions, j’ai vécu chaque étape de sa mise en œuvre ».</p>
                <p class="card-text">Ce qu’elle aime dans son poste, c’est la polyvalence : « Je ne passe jamais une journée à faire la même chose, c’est diversifié et valorisant. Mon lieu d’alternance étant un lieu d’interaction, je développe mes compétences mais aussi mon réseau ».</p>    
                <p class="card-text">Lorine voit son entreprise comme un lieu d’expérience, qui lui donne la possibilité de mettre en œuvre les connaissances acquises à l’Afpa, mais bien plus encore. Étant souvent en entreprise, Lorine apprécie l’implication de sa formatrice dans son parcours : « 3 semaines en entreprise, une semaine en formation… il faut suivre, mais je suis à jour dans le programme ! ».</p>
                <p class="card-text">Son conseil à toute personne qui souhaite suivre une formation en alternance ? « Il faut être motivé·e et investi·e, et ne pas avoir peur de vraiment se donner à fond. Ce sont quelques mois de travail qui en valent la peine ».</p>
            </div>
        </div>
    </div>
</body>

</html>